<strong> Olá, {{ provider }} </strong>

<p>Houve um cancelamento de horário, confira os detalhes abaixo</p>


<p>
  <strong>Client: </strong> {{ user }} <br/>
  <strong>Data/Hora</strong> {{ date }} <br/>
  <br/>
  <small>
    o horário esta novamente disponivel para novos agendamentos.
  </small>
</p>
